.footerCard-wraper{
    display: flex;
    flex-direction: column;
   
    /* border: 1px solid black;
    border-radius: 20px; */

}
.footerCard-image >img{
    
    width: 230px;
    height: 200px;
    object-fit: cover ;
    border-radius: 15px;


}
.footer-title{
    padding-left: 10px;
}