.hero-container {
    display: grid;
      place-items: center;
    /* flex-direction: column; */
  }
  .top{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #FFDA7A;
    color: black;
    margin-top: 50px;
  }
  .middle{
    margin: 30px 10px;
    font-size: 60px;
    text-align: center;
   
  }
  .bottom{
    margin: 10px 1.4px;
    font-size: 20px;
    text-align: center;
  }
  .button{
    margin-top: 20px;
    border: 1px solid transparent;
    background-color: #0D0C22;
    color: aliceblue;
    font-size: 18px;
    border-radius: 25px;
    padding: 15px 20px;
    cursor: pointer;
    

  }
  