.navbar-wraper{
    display: grid;
    grid-template-columns: 96px 1fr  1fr;
    /* grid-template-rows: 100px; */
    align-items: center;
    /* justify-content: center;    */
     gap: 20px;
}
.navbar-hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
}
.nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
}
.navbar-content{
    grid-row-start: 1;
    grid-column-end: 3 ;
}

.navbar-content>ul,a{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.navbar-content>ul>li{
    /* width: 100px; */
    padding: 0px;
    /* border: 1px solid black; */
}
.navbar-last{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    grid-area: 1/5 ;
    gap: 10px;
}
.navbar-last-wraper{
    grid-area: 1/10;
    align-item: end;
}

  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 0.5px solid transparent;
    border-radius: 30px;
    z-index: 1;
    height: 70px;
    width: 250px;

    padding-left: 20px  ;
    padding-right: 20px;
  }
  
  .dropdown-content a {
    color: #111026;
    /* padding: 20px 25px; */
    text-decoration: none;
    display: block;
    
  }
  .dropdown-content span{
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
