.card-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 180px;
    height: 250px;
    border-radius: 30px;
    padding: 10px 10px;
    color: rgba(180, 177, 177, 0.944);
    position: relative;
    margin-top: 100px;
    
}


.card-title{
    font-size: 15px;
    font-weight: bold;
    
}
.card-content{
    font-size: 14px;
}
.card-skills {
    border: 1px solid rgba(180, 177, 177, 0.944);
    border-radius: 20px;
    padding: 2px 15px;
    margin-top: 5px;

}